//
// Sticky Toolbar
//

.sticky-toolbar {
    width: 46px;
    position: fixed;
    top: 30%;
    left: 0;
    list-style: none;
    margin: 0;
    z-index: 50;
    background: #1D428A;
    box-shadow: $dropdown-box-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include border-top-right-radius($border-radius);
    @include border-bottom-right-radius($border-radius);
}
